<ul id="nav">
	<li class="{if $location == "home"}active{/if}"><a href="{link l='home'}">{lang string='Dashboard'}</a></li>
	<li class="{if $location == "genres"}active{/if}"><a href="{link l='genres'}">{lang string='Genres'}</a></li>
	<li class="{if $location == "playlists"}active{/if}"><a href="{link l='playlists'}">{lang string='Playlists'}</a></li>
	<li class="nobg {if $location == "users"}active{/if}"><a href="{link l='users'}">{lang string='Users'}</a></li>
	<li class="nobg {if $location == "settings"}active{/if}"><a href="{link l='settings'}">{lang string='Settings'}</a></li>
</ul>