.menu{
	border:none;
	position: relative;
	border: 1px solid #eee;
	margin:0px;
	padding:0px;
	font-family:verdana,geneva,arial,helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#8e8e8e;
	background: #ddd;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px; -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1;
	}
body.rtl .menu{font-size:16px; direction:rtl; text-align: right}
.menu ul{
	height:34px;
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	}
	.menu li{
		float:left;
		list-style: none;

		}
		body.rtl .menu li{direction:rtl; float:right; text-align: right}

	.menu ul div a,
	.menu li a{
			text-decoration: none;
			color: #000;
			outline: none;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 0;
			z-index: 10;
			display: block;
			float: left;
			position: relative;
			overflow: hidden;
			font-size: 14px;
			padding: 9px 26px;
	}
	.menu li a:hover,
	.menu li.current a{color:#666}
	body.rtl .menu li a,
	body.rtl .menu ul div a{font-size:16px; direction: rtl; text-align: right; float:right;}


		.menu ul.submenu {
			position: absolute;
			top: 36px;
			background: #EEE;
			z-index: 2;
			width: 200px;
			min-height: 60px;
			padding: 5px 0;
			border: 1px solid #DDD;
			display: none;
			-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.3);
			-moz-box-shadow: #999 0 5px 10px;
			}
			
		.menu ul.submenu li {
			margin: 0 0 4px;
			text-align: center;
			}

		.menu ul.submenu li a {
			font-size: 11px;
			padding: 0px 10px;
			width: 100%;
			}
		.menu ul.submenu li a strong {
			color: black;
			}

	.menu #current{
		color:#ffffff;
		}
	.menu li.pop:hover ul.submenu {
		display: inherit;
	}	
	.menu li.pop ul.submenu li:hover a strong {
		color: #555;
	}	
	.menu li .fb-like {margin-top: 7px;margin-right: 10px;}

.topMenu{clear: both;padding: 3px 5px;background: #EEE;-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.4);-moz-box-shadow: #888 0 2px 5px;}
.topMenu ul{display:inline;list-style:none;}
.topMenu ul li{color: #000;display:inline; margin:0 5px; color:#111; font-size: 12px}                        		
.topMenu ul li a{color: #000;text-decoration: none; font-weight:normal;}
.topMenu ul li a:hover{text-decoration: underline; cursor:pointer}
body.rtl .topMenu li{direction:rtl; text-align: right}
.topMenu ul li.sub {padding:0 5px;border-right: 1px solid transparent;border-left: 1px solid transparent}
.topMenu ul li.sub ul{display:none;padding-top:8px}
.topMenu ul li.sub ul li{display:none;display:list-item}
.topMenu ul li.sub ul li a{color:#555}
.topMenu ul li.sub ul:hover,
.topMenu ul li.sub:hover ul{display:block}
.topMenu ul li.sub:hover{position:absolute; background: #EEE;position:absolute;z-index:1; border-bottom: 2px solid #DDD;border-right: 1px solid #DDD;border-left: 1px solid #DDD;}
		
ul.sub-menu {
	font-size: 12px;
	padding-right: 10px;
	margin-right: 30px;
	width: 255px;
	float: left;
}
body.rtl ul.sub-menu{direction:rtl; text-align: right; float:right;padding-right:0;margin-right:0;padding-left:10px;margin-left:30px}
ul.sub-menu li{	border-bottom:1px dotted #ccc; margin:0; padding:5px 8px 5px 8px;}
ul.sub-menu li:hover{background: #EEE;border-right: 1px dotted #CCC;border-left: 1px dotted #CCC;}	
ul.sub-menu li.active{background: #EEE url(../images/iconListArrowRight.png) no-repeat 220px center;border-right: 1px dotted #CCC;border-left: 1px dotted #CCC;}	
body.rtl ul.sub-menu li.active{background: #EEE url(../images/iconListArrowLeft.png) no-repeat -5px center;}	

ul.sub-menu li a{text-decoration: none;}


ul#breadcrumbs{clear: both;font-size: 11px;background: #EEE;-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.4);-moz-box-shadow: #888 0 2px 5px; padding: 9px 15px 5px 15px;}	
ul#breadcrumbs li{float: left;display: inline;margin: 0 10px 0 0;padding: 0px 10px 0px 0px;background: #EEE;color:#777}	
ul#breadcrumbs li.link{border-right: 1px dotted #777;}
ul#breadcrumbs li.link a{text-decoration: underline; color:#444}
ul#breadcrumbs li.link:hover a{text-decoration: none}
body.rtl ul#breadcrumbs li{direction:rtl; float:right; text-align: right; padding: 0px 0 0px 10px;}
body.rtl ul#breadcrumbs li.link{border-right:0; border-left: 1px dotted #777;}