
			<div id="footer">
				<p class="left">{lang string='All Rights Reserved'} <a href="{link l='home'}">{$website_name}</a></p>
				<p class="right">{lang string='Powered by'} <a target="_blank" href="{$smarty.const.APP_URL}">{$smarty.const.APP_NAME}</a> v{$smarty.const.APP_VERSION}</p>
			</div>
	
		</div>
		<!-- wrapper ends -->
	</div>		
	<!-- #hld ends -->

	{if $module_js} 
    <script type="text/javascript" src="{$website_url}{$module_js}"></script>
    {/if}

	    
    </body>
</html>



