
			
			<div class="block">
			
				<div class="block_head">
					<div class="bheadl"></div>
					<div class="bheadr"></div>
					
					<h2>{lang string="Overview"}</h2>
				</div>		<!-- .block_head ends -->
				
				
				<div class="block_content">
				
					<form action="" method="post">
					
						<table cellpadding="0" cellspacing="0" width="100%" class="sortable">
						
							<tbody>
								<tr>
									<td>{lang string="Total Users"}</td>
									<td><a href="{link l='users'}">{$total_users}</a></td>
									<td class="action"><a href="{link l='users'}">{lang string='View'}</a></td>
								</tr>
								<tr>
									<td>{lang string="Active Users"}</td>
									<td><a href="{link l='users'}">{$active_users}</a></td>
									<td class="action"><a href="{link l='users'}">{lang string='View'}</a></td>
								</tr>	
								<tr>
									<td>{lang string="Banned Users"}</td>
									<td><a href="{link l='users'}">{$banned_users}</a></td>
									<td class="action"><a href="{link l='users'}">{lang string='View'}</a></td>
								</tr>
								<tr>
									<td>{lang string="Admin Users"}</td>
									<td><a href="{link l='users' q='userlevel=9'}">{$admin_users}</a></td>
									<td class="action"><a href="{link l='users' q='userlevel=9'}">{lang string='View'}</a></td>
								</tr>
								<tr>
									<td>{lang string="Total Playlists"}</td>
									<td><a href="{link l='playlists'}">{$total_playlists}</a></td>
									<td class="action"><a href="{link l='playlists'}">{lang string='View'}</a></td>
								</tr>	
								<tr>
									<td>{lang string="Total Genres"}</td>
									<td><a href="{link l='genres'}">{$total_genres}</a></td>
									<td class="action"><a href="{link l='genres'}">{lang string='View'}</a></td>
								</tr>	
								<tr>
									<td>{lang string="Total Sub Genres"}</td>
									<td><a href="{link l='genres'}">{$total_subgenres}</a></td>
									<td class="action"><a href="{link l='genres'}">{lang string='View'}</a></td>
								</tr>
								<tr>
									<td>{lang string="Hidden Genres"}</td>
									<td><a href="{link l='genres'}">{$hidden_genres}</a></td>
									<td class="action"><a href="{link l='genres'}">{lang string='View'}</a></td>
								</tr>
								<tr>
									<td>{lang string="Featured Genres"}</td>
									<td><a href="{link l='genres'}">{$featured_genres}</a></td>
									<td class="action"><a href="{link l='genres'}">{lang string='View'}</a></td>
								</tr>
							</tbody>
							
						</table>
						
					</form>
					
				</div>		<!-- .block_content ends -->
				
				<div class="bendl"></div>
				<div class="bendr"></div>
			</div>		<!-- .block ends -->
			
					
			
			

			
			
			